<div>
    <h4>Добавить событие</h4>
    <form class="form-field select-field">
        <label>Выберите тип события:</label>
        <select ngModel name="selectType" #selectType="ngModel" (change)="selectEventType(selectType)">
            <option value="news">Новость</option>
            <option value="transaction">Финансовая транзакция</option>
        </select>
    </form>


    <form #newsForm="ngForm" (submit)="submitNews(newsForm)" class="add-event add-news" *ngIf="addingType === 'news'">

        <div class="form-field">
            <label for="newsTitle">Заголовок новости</label>
            <input type="text" ngModel name="newsTitle" #newsTitle="ngModel" id="newsTitle" required>
            <div *ngIf="newsTitle.touched && newsTitle.invalid" class="error-message">Нужно ввести заголовок для новости.</div>
        </div>



        <div class="form-field">
            <label for="newsContent">Содержание новости</label>
            <textarea ngModel name="newsContent" #newsContent="ngModel" id="newsContent" required></textarea>
            <div *ngIf="newsContent.touched && newsContent.invalid" class="error-message">Нужно ввести содержание новости.</div>
        </div>

        <button type="submit" class="submit-btn" [disabled]="newsForm.invalid">Добавить</button>

    </form>

    <form #transactionForm="ngForm" (submit)="submitTransaction(transactionForm)" class="add-event add-transaction"
          *ngIf="addingType === 'transaction'">

        <div class="form-field select-field">
            <label>Приход / расход</label>
            <select ngModel name="selectFlow" #selectFlow="ngModel" required>
                <option value="+">приход</option>
                <option value="-">расход</option>
            </select>
            <div *ngIf="selectFlow.touched && selectFlow.invalid" class="error-message">Нужно выбрать приход или расход.</div>
        </div>

        <div class="form-field select-field">
            <label>Валюта</label>
            <select ngModel name="selectCurrency" #selectCurrency="ngModel"
                    required>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="RUB">RUB</option>
            </select>
            <div *ngIf="selectCurrency.touched && selectCurrency.invalid" class="error-message">Нужно выбрать валюту.</div>
        </div>

        <div class="form-field number-field">
            <label for="sum">Сумма</label>
            <input type="number" ngModel name="sum" #sum="ngModel" id="sum" required>
            <div *ngIf="sum.touched && sum.invalid" class="error-message">Нужно ввести сумму.</div>
        </div>

        <div class="form-field">
            <label for="person">Контрагент</label>
            <input type="text" ngModel name="person" #person="ngModel" id="person" required>
            <div *ngIf="person.touched && person.invalid" class="error-message">Нужно ввести контрагента.</div>
        </div>

        <div class="form-field">
            <label for="description">Описание</label>
            <input type="text" ngModel name="description" #description="ngModel" id="description" required>
            <div *ngIf="description.touched && description.invalid" class="error-message">Нужно ввести описание транзакции.</div>
        </div>

        <button type="submit" class="submit-btn" [disabled]="transactionForm.invalid">Добавить</button>


    </form>

</div>
