h4 {
  font-size:1.4em;
  margin-top:30px;
  margin-bottom:20px;
}

.add-event {
  margin-top:20px;
  padding-bottom:30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


.form-field input {
  width:calc(100% - 10px);
  height:40px;
  padding-left:6px;
}

.form-field textarea {
  padding-left:6px;
  padding-top:10px;
  width:calc(100% - 10px);
  height:80px;
}

.add-event .form-field.select-field,
.add-event .form-field.number-field {
  width:30%;
}

.add-event select {
  width:100%;
}

.error-message {
  margin-top:6px;
  color: red;
  font-size:1em;
}

.submit-btn {
  width:180px;
  height:40px;
  margin-top:10px;
  border-radius: 10px;
  background-color: #0d26ff;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline:none;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus,
.submit-btn:active {
  background-color: lighten(#0d26ff, 20%);
}

.submit-btn[disabled] {
  background-color: #707070;
  cursor: default;
}

@media screen and (max-width: 560px){
  .add-event .form-field.select-field,
  .add-event .form-field.number-field {
    width:100%;
  }
}